.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blackText {
  text-align: left;
  background-color: #ffffff;
  font-size: 14px;
  color: rgb(14, 2, 2);
  border: 2px rgb(2, 2, 65) solid
}
.redText {
  text-align: left;
  background-color: rgb(248, 227, 227);
  font-size: 14px;
  color: rgb(145, 12, 12);
  border: 2px rgb(185, 30, 30) solid
}